
*{
    box-sizing: border-box; 
    margin: 0;
    font-family: "helvetica";
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: white;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10rem;
    margin: 10px;
    align-items: center;
}

p{
    line-height: 1.5rem;
}

h2{
    padding-bottom: 10px;
    padding-top: 10px;
}

.mapIMG{
    height:auto;
    max-width: 50%;
}
.tablesIMG{
    height:auto;
    max-width: 50%;
}

.donutIMG{
    height:auto;
    max-width: 50%;
}

article{
    padding-top: 50px;
}
